<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="RestaurantDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\mikha\YandexDisk\#Учеба\5 семестр\Базы данных\Курсовая\Restaurant\RestaurantDB.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>